@font-face {
  font-family: mobile-regular;
  src: url("../fonts/IRANSansMobile.ttf");
}

@font-face {
  font-family: mobile-bold;
  src: url("../fonts/IRANSansMobile_Bold.ttf");
}

@font-face {
  font-family: web-regular;
  src: url("../fonts/SnappWeb2.0-Regular.woff") ;
}

@font-face {
  font-family: web-bold;
  src: url("../fonts/SnappWeb2.0-Bold.woff") ;
}