$color--pink: rgb(255, 0, 166);
$color--white: rgb(255, 255, 255);
$color--grey: rgba(64, 64, 64, 0.04);
$space--8: 0.5rem;
$seperator-color: #e6e6e6;
$color--card-shadow: rgba(0, 0, 0, 0.1);
$card--shadow: 0 2px 12px 0 $color--card-shadow;
$card--background: 134px;
$alpha-carbon-grey: rgba(64, 64, 64, 0.04);
$card-shadow-2: 0 2px 6px 0 $color--card-shadow;
$text--medium: 14px;
$text--color: #404040;
$primary-deep-green: #22a958;
$dark-bilbao-color: rgba(63, 126, 0, 0.08);
$text-color-light: #a3a3a3