@import "src/style/variables";

.link-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-pink;
  color: $color-white;
  border: none;
  border-radius: 0.25em;
  padding: $space-8;

}